.bg-something {
    background-color: darkslategrey;
}

.bg-something-else {
    background-color: black;
}

.bg-something-other {
    background-color: darkgray;
}

.nmt5 {
    margin-top: -4rem;
}

.nmb5 {
    margin-bottom: -4rem;
}