/* Margins */
.nmt5 {
    margin-top: -4rem;
}

.nmb5 {
    margin-bottom: -4rem;
}

.m0auto {
    margin: 0 auto;
}

/* Color Palette */
.verdigris {
    color: #00AFB9;
}

.light-yellow {
    color: #FDFCDC;
}

.peach-puff {
    color: #FED9B7;
}

.charcoal {
    color: #3A4454;
}

.bittersweet {
    color: #F07167;
}

.mauve-taupe {
    color: #925E78;
}

.marine {
    color: #22293C;
}

.bg-verdigris {
    background-color: #00AFB9;
}

.bg-light-yellow {
    background-color: #FDFCDC;
}

.bg-peach-puff {
    background-color: #FED9B7;
}

.bg-charcoal {
    background-color: #3A4454;
}

.bg-bittersweet {
    background-color: #F07167;
}

.bg-mauve-taupe {
    background-color: #925E78;
}

.bg-marine {
    background-color: #22293C;
}

.b--verdigris {
    border-color: #00AFB9;
}

.b--light-yellow {
    border-color: #FDFCDC;
}

.b--peach-puff {
    border-color: #FED9B7;
}

.b--charcoal {
    border-color: #3A4454;
}

.b--bittersweet {
    border-color: #F07167;
}

.b--mauve-taupe {
    border-color: #925E78;
}

.b--marine {
    border-color: #22293C;
}

/* Rarities */
.bg-rarity-poor {
    background: linear-gradient(180deg, hsl(0, 0%, 8%) 0%, hsl(0, 0%, 25%) 100%);
}

.bg-rarity-common {
    background: linear-gradient(180deg, hsl(0, 0%, 23%) 0%, hsl(0, 0%, 70%) 100%);
}

.bg-rarity-uncommon {
    background: linear-gradient(180deg, hsl(116, 55%, 13%) 0%, hsl(116, 55%, 40%) 100%);
}

.bg-rarity-rare {
    background: linear-gradient(180deg, hsl(217, 55%, 13%) 0%, hsl(217, 55%, 40%) 100%);
}

.bg-rarity-epic {
    background: linear-gradient(180deg, hsl(273, 55%, 13%) 0%, hsl(273, 55%, 40%) 100%);
}

.bg-rarity-legendary {
    background: linear-gradient(180deg, hsl(17, 55%, 13%) 0%, hsl(17, 55%, 40%) 100%);
}

/* Misc */
.pointer-events-none {
    pointer-events: none;
}

.cursor-default {
    cursor: default;
}

a:link,
a:visited {
    color: #F07167; /* Bittersweet */
    text-decoration: none;
}

/* Heights */
.h1 {
    height: 1rem;
}

.h2 {
    height: 2rem;
}

.h3 {
    height: 2.5rem;
}

.h4 {
    height: 3rem;
}

.h5 {
    height: 4rem;
}

.h6 {
    height: 5rem;
}

/* Widths */
.w1 {
    width: 1rem;
}

.w2 {
    width: 2rem;
}

.w3 {
    width: 2.5rem;
}

.w4 {
    width: 3rem;
}

.w5 {
    width: 4rem;
}

.w6 {
    width: 5rem;
}

.w7 {
    width: 7rem;
}

.w8 {
    width: 10rem;
}

.w9 {
    width: 15rem;
}

.w10 {
    width: 25rem;
}

.w11 {
    width: 40rem;
}

.w12 {
    width: 60rem;
}

.w13 {
    width: 100rem;
}

/* Flex */
.justify-evenly {
    justify-content: space-evenly
}

/* Mobile */
.mobile-hide {
    display: block;
}

@media (max-width: 767px) {
    .mobile-hide {
        display: none;
    }
}